.card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  position: relative;
  background: #fff;
  border-radius: 2px;
}

.card-shadow {
  box-shadow: 0 15px 20px rgba(94, 94, 94, 0.2),
    0 0 5px rgba(186, 182, 182, 0.2);
}

.btn-primary {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
}
.btn-primary:hover {
  color: #fff !important;
  background: #40a9ff !important;
  border-color: #40a9ff !important;
}
a {
  text-decoration: none;
}

.breadcrumb {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}
.breadcrumb-separator {
  margin: 0 8px;
  color: rgba(0, 0, 0, 0.45);
}
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.product-card {
  /* width: 380px; */
  width: 340px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  /* margin: 50px auto; */
  background: #fafafa;
  margin: 16px;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #ffffff;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
  padding-bottom: 80px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
  position: absolute;
  left: 32px;
  right: 32px;
  bottom: 32px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}
.rm-before-after::before,
.rm-before-after::after {
  display: none !important;
}
.shopping-cart {
  width: 100%;
  min-height: 423px;
  margin-bottom: 170px;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  /* height: 120px; */
  display: flex;
}

.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 20px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url("https://designmodo.com/demo/shopping-cart/delete-icn.svg")
    no-repeat center;
}

.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  /* background: url("twitter-heart.png"); */
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}
.is-active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}

.description {
  padding-top: 10px;
  margin-right: 20px;
  width: 250px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

.quantity {
  padding-top: 20px;
  margin-right: 10px;
  width: 100px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

button[class*="btn"] {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline: 0;
}
.total-price {
  width: 100px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}

.cart-info {
  min-height: 200px;
  display: flex;
  width: 100%;
  padding: 0px 24px;
  min-width: 1024px;
  margin: auto;
  margin-top: 50px;
  align-items: flex-start;
}
.cart-info .parent__left-side {
  width: calc(100% - 395px);
  margin-right: 45px;
}
.cart-info .parent__right-side {
  width: 350px;
  flex-shrink: 0;
}

/*Total Price*/
.price-summary-cart {
  display: block;
  position: relative;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0 1px 6px 0 var(--color-shadow, rgba(49, 53, 59, 0.12));
  background-color: var(--color-card, #ffffff);
  cursor: default;
}

.price-summary-body {
  padding: 16px;
}

.price-summary-title {
  display: block;
  position: relative;
  font-weight: 700;
  font-family: "Nunito Sans", -apple-system, sans-serif;
  font-size: 1.14286rem;
  line-height: 22px;
  color: var(--color-text-high, rgba(49, 53, 59, 0.96));
  text-decoration: initial;
  margin: 0px 0px 16px;
}

.price-summary-detail {
  display: flex;
  width: 100%;
}
.price-summary-detail .left {
  width: 60%;
}
.price-summary-detail p {
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: var(--color-text-low, rgba(49, 53, 59, 0.68));
  text-decoration: initial;
  margin: 2px 0px;
}
.price-summary-detail .right {
  width: 40%;
  text-align: right;
}
.css-1u5v5t {
  margin: 16px 0px;
  height: 1px;
  background-color: var(--N75, #e5e7e9);
  border: medium none;
}
.price-summary-detail h6 {
  display: block;
  position: relative;
  font-weight: 700;
  font-family: "Nunito Sans", -apple-system, sans-serif;
  font-size: 1.14286rem;
  line-height: 22px;
  color: var(--color-text-high, rgba(49, 53, 59, 0.96));
  text-decoration: initial;
  margin: 2px 0px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
